{% extends "base.html" %}

{% block page_title %}Balance Sheet{% endblock %}

{% block page_actions %}
<div>
  <form method="get">
    <div class="row">
      <div class="col-3">
        <input type="date" class="form-control form-control-sm" name="start_date" value="{{ request.GET.start_date }}">
      </div>
      <div class="col-3">
        <input type="date" class="form-control form-control-sm" name="end_date" value="{{ request.GET.end_date }}">
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-6">
    <div class="card card-primary card-outline">
      <div class="card-header">
        <h3 class="card-title">Cash Flow</h3>
      </div>
      <div class="card-body">
        <table class="table table-striped table-hover table-bordered table-sm">
          <thead>
            <tr>
              <th>Date</th>
              <th>Head</th>
              <th>Debit</th>
              <th>Credit</th>
              <th>Closing</th>
            </tr>
          </thead>
          <tbody>
            {% for row in transactions %}
            {% if row.mode == "cash" %}
            <tr>
              <td>{{row.created|date:"Y-m-d"}}</td>
              <td>{{row.category}}</td>
              <td>{% if row.transaction_type == "expense" %}{{row.amount}}{% else %}0{% endif %}</td>
              <td>{% if row.transaction_type == "income" %}{{row.amount}}{% else %}0{% endif %}</td>
              <td>{{row.cash_closing_balance}}</td>
            </tr>
            {% endif %}
            {% empty %}
            <tr>
              <td colspan="5">No records found yet.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="card-footer clearfix">
        
      </div>
    </div>
  </div><div class="col-lg-6">
    <div class="card card-info card-outline">
      <div class="card-header">
        <h3 class="card-title">Bank Flow(Online)</h3>
      </div>
      <div class="card-body">
        <table class="table table-striped table-hover table-bordered table-sm">
          <thead>
            <tr>
              <th>Date</th>
              <th>Head</th>
              <th>Debit</th>
              <th>Credit</th>
              <th>Closing</th>
            </tr>
          </thead>
          <tbody>
            {% for row in transactions %}
            {% if row.mode == "online" %}
            <tr>
              <td>{{row.created|date:"Y-m-d"}}</td>
              <td>{{row.category}}</td>
              <td>{% if row.transaction_type == "expense" %}{{row.amount}}{% else %}0{% endif %}</td>
              <td>{% if row.transaction_type == "income" %}{{row.amount}}{% else %}0{% endif %}</td>
              <td>{{row.bank_closing_balance}}</td>
            </tr>
            {% endif %}
            {% empty %}
            <tr>
              <td colspan="5">No records found yet.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="card-footer clearfix">
        
      </div>
    </div>
  </div>

</div>
{% endblock %}