{% extends "base.html" %}

{% block page_title %}360<sup style="font-size: 20px">o</sup> Dashboard View{% endblock %}

{% block page_actions %}
<ol class="breadcrumb float-sm-right">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">Dashboard</li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-3 col-6">
    <div class="small-box bg-info">
      <div class="inner">
        <h3>{{ student_count }}</h3>
        <p>Students</p>
      </div>
      <div class="icon">
        <i class="fa fa-solid fa-briefcase"></i>
      </div>
      <a href="{% url 'students' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <div class="col-lg-3 col-6">
    <div class="small-box bg-success">
      <div class="inner">
        <h3>{{ paid__sum }}<sup style="font-size: 20px">Rs</sup></h3>
        <p>Income</p>
      </div>
      <div class="icon">
        <i class="fas fa-hand-holding-usd"></i>
      </div>
      <a href="{% url 'student-payments' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <div class="col-lg-3 col-6">
    <div class="small-box bg-warning">
      <div class="inner">
        <h3>{{ amount__sum }}<sup style="font-size: 20px">Rs</sup></h3>
        <p>Expenses</p>
      </div>
      <div class="icon">
        <i class="fas fa-funnel-dollar"></i>
      </div>
      <a href="{% url 'expenses' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <div class="col-lg-3 col-6">
    <div class="small-box {% if profit > 0 %}bg-primary{% else %}bg-danger{% endif %}">
      <div class="inner">
        <h3>{{ profit }}<sup style="font-size: 20px">Rs</sup></h3>
        <p>Loss/Profit</p>
      </div>
      <div class="icon">
        <i class="fas fa-wallet"></i>
      </div>
      <a href="{% url 'expenses' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
</div>
{% endblock %}