{% extends "base_blank.html" %}

{% block content %}
<div class="flex justify-center">
    <div class="text-xl font-bold mb-5">CASH MEMO</div>
</div>
<div class="flex justify-center">
    <div class="text-xl font-bold">IQRA ENGLISH SCHOOL</div>
</div>
<div class="flex justify-center">
    <div class="text-xl">Nazrul Colony, Samsi, Malda, W.B. - 732139</div>
</div>
<div class="flex justify-center">
    <div class="flex flex-col gap-4 mt-5">
        <div><span class="font-bold">Payment Received From</span> {{income.student}}</div>
        <div><span class="font-bold">Total Due:</span> Rs. {{income.due}}</div>
        <div><span class="font-bold">Total Paid:</span> Rs. {{income.paid}}</div>
        <div>
            <span class="font-bold">Payments: </span> 
            <br/><label>Tuition Fee:</label> Rs. {{income.tuition_fee_paid}}
            <br/><label>Admission Fee:</label> Rs. {{income.admission_fee_paid}}
            <br/><label>Learning Material Fee:</label> Rs. {{income.learning_material_fee_paid}}
            <br/><label>Others Fee:</label> Rs. {{income.others_fee_paid}}
        </div>
        <div>
            <span class="font-bold">Dues: </span> 
            <br/><label>Tuition Fee:</label> Rs. {{income.tuition_fee_due}}
            <br/><label>Admission Fee:</label> Rs. {{income.admission_fee_due}}
            <br/><label>Learning Material Fee:</label> Rs. {{income.learning_material_fee_due}}
            <br/><label>Others Fee:</label> Rs. {{income.others_fee_due}}
        </div>
        <div><span class="font-bold">Mode of Payment:</span> {{income.mode}}</div>
        <div><span class="font-bold">Payment Date:</span> {{income.created|date:"Y-m-d"}}</div>
        <div style="margin-top: 150px;"><span class="font-bold">Signature:_________________________________</span></div>
    </div>
</div>
{% endblock %}