{% extends "base_blank.html" %}
{% load static %}

{% block content %}
<div class="grid grid-cols-6 gap-10">
    {% for student in students %}
    <div style="background-image: url('{% static "base_idcard.svg" %}'); background-repeat: no-repeat; background-size: 208px 322px; width: 208px; height: 322px;">
        <div style="margin-top: 73px; width: 67px; height: 67px; margin-left: 70px;"><img src="{{student.photo.url}}"/></div>
        <div style="font-size: 9px; font-weight: bold; text-align: center;">{{student.name}}</div>
        <div style="font-size: 8px; font-weight: bold; margin-top: 1px; text-align: center; color: white;">{{student.section}}, {{student.academic_session}}</div>
        <div style="font-size: 8px; font-weight: bold; margin-top: 17px; margin-left: 90px;">{{student.code_no}}</div>
        <div style="font-size: 8px; font-weight: bold; margin-top: 0px; margin-left: 90px;">{{student.gender}}</div>
        <div style="font-size: 8px; font-weight: bold; margin-top: 4px; margin-left: 90px;">{{student.father_name}}</div>
        <div style="font-size: 8px; font-weight: bold; margin-top: 4px; margin-left: 90px;">{{student.date_of_birth|date:'Y-m-d'}}</div>
        <div style="font-size: 8px; font-weight: bold; margin-top: 4px; margin-left: 90px;">{{student.mobile_no}}</div>
        <div style="font-size: 8px; font-weight: bold; margin-top: 4px; margin-left: 90px;">{{student.village}}, {{student.post_office}}, {{student.police_station}}, {{student.district}}</div>
    </div>
    {% endfor %}
</div>
{% endblock %}