{% extends "base.html" %}

{% block page_title %}All Payments{% endblock %}

{% block page_actions %}
<ol class="breadcrumb float-sm-right">
  <li class="breadcrumb-item">
    <form method="get">
      <div class="row">
        <div class="col">
          <input type="date" class="form-control form-control-sm" name="start_date" value="{{ request.GET.start_date }}">
        </div>
        <div class="col">
          <input type="date" class="form-control form-control-sm" name="end_date" value="{{ request.GET.end_date }}">
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </div>
      </div>
    </form>
  </li>
  <li class="breadcrumb-item"><a href="{% url 'student-payment-direct-add' %}" class="btn btn-warning btn-sm ml-4"><i class="fas fa-plus"></i> Add New Payment</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="card card-info card-outline">
      <div class="card-header">
        <h3 class="card-title">Cash Payments</h3>
      </div>
      <div class="card-body p-0">
        <table class="table table-striped table-hover table-bordered table-sm">
          <thead>
            <tr>
              <th style="width: 10px">#</th>
              <th>Name</th>
              <th>Paid</th>
              <th>Due</th>
              <th>Details</th>
              <th>Created</th>
              <th style="width: 10px">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for object in object_list %}
            {% if object.mode == "cash" %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ object.student }}</td>
              <td>{{ object.paid }}</td>
              <td>{{ object.due }}</td>
              <td>{{ object.note }}</td>
              <td>{{ object.created|date:"Y-m-d" }}</td>
              <td><a href="{% url 'student-payment-update' object.pk %}"><i class="fas fa-pencil-alt mr-1"></i></a></td>
            </tr>
            {% endif %}
            {% empty %}
            <tr>
              <td colspan="7">No records found yet.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="card-footer font-weight-bold clearfix">
        Total Collection: {{total_income.paid_sum}}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-primary card-outline">
      <div class="card-header">
        <h3 class="card-title">Online Payments</h3>
      </div>
      <div class="card-body p-0">
        <table class="table table-striped table-hover table-bordered table-sm">
          <thead>
            <tr>
              <th style="width: 10px">#</th>
              <th>Name</th>
              <th>Paid</th>
              <th>Due</th>
              <th>Details</th>
              <th>Created</th>
              <th style="width: 10px">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for object in object_list %}
            {% if object.mode == "online" %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ object.student }}</td>
              <td>{{ object.paid }}</td>
              <td>{{ object.due }}</td>
              <td>{{ object.note }}</td>
              <td>{{ object.created|date:"Y-m-d" }}</td>
              <td><a href="{% url 'student-payment-update' object.pk %}"><i class="fas fa-pencil-alt mr-1"></i></a></td>
            </tr>
            {% endif %}
            {% empty %}
            <tr>
              <td colspan="7">No records found yet.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="card-footer font-weight-bold clearfix">
        Total Collection: {{total_income_online.paid_sum}}
      </div>
    </div>
  </div>
</div>
{% endblock %}