<div class="p-2">
  <div class="mb-2">
    <b>Rental License</b><br>
    By purchasing, installing, or otherwise using the product identified above and/or its related materials, 
    you agree to be bound by the terms and conditions of this License Agreement.
  </div>

  <div class="mb-2">
    <b>Read carefully</b><br>
    This license agreement ("LICENSE") is a legal agreement between you (either an individual or a single entity, 
    also referred to as "YOU") and FramesCart India. ("FramesCart India"), for the software containing this LICENSE which may 
    also include the software’s source code written in a high-level computer language, associated media, printed materials, 
    and "online"(collectively referred to as "SOFTWARE").
  </div>

  <div class="mb-2">
    <b>Software product license</b><br>
    The SOFTWARE is protected by copyright laws, as well as other intellectual property 
    laws and treaties and contains confidential information and trade secrets. FramesCart India retains all rights not expressly 
    granted to you in this LICENSE.
  </div>
</div>